In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm
from scipy.stats import chi2_contingency
import warnings

In [2]:
warnings.filterwarnings("ignore")

#### A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [3]:
cutlets = pd.read_csv("C:/Users/preet/OneDrive/Desktop/ExcelR/Data Science/Assignment/Hypothesis Testing/Cutlets.csv")

In [4]:
cutlets.head(5)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [5]:
# Ho: mean1 = mean2, there is no difference
# Ha: mean1 =! mean2, there is a difference
# Finding required parameters
UnitA = cutlets["Unit A"]
UnitB = cutlets["Unit B"]

In [6]:
n = len(cutlets) # using t test since n>30

In [7]:
stats.ttest_ind(UnitA,UnitB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [8]:
# Since p value > 0.05, we accept null hypothesis
# Hence, there isn't significant difference between the diameters of two units

####    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [9]:
LabTAT = pd.read_csv("C:/Users/preet/OneDrive/Desktop/ExcelR/Data Science/Assignment/Hypothesis Testing/LabTAT.csv")

In [10]:

LabTAT.head(5)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
# Ho = no difference
# Ha = there is a difference
# 4 variance hence using Anova for calculating p-value
stats.f_oneway(LabTAT.iloc[:,0], LabTAT.iloc[:,1], LabTAT.iloc[:,2], LabTAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [12]:
# p-value <0.05, therefore reject Ho
# Hence, there is a difference in average turn around time (TAT) of reports of the laboratories.

#### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
1. Check p-value
2. If p-Value < alpha, we reject Null Hypothesis
Ho: All proportions are equal
Ha: Not all proportions are equal

In [13]:
BuyerRatio = pd.read_csv("C:/Users/preet/OneDrive/Desktop/ExcelR/Data Science/Assignment/Hypothesis Testing/BuyerRatio.csv")

In [14]:
BuyerRatio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [15]:
# 4 variables hence use Anova to find p-value
East = BuyerRatio.iloc[:,1]
West = BuyerRatio.iloc[:,2]
North = BuyerRatio.iloc[:,3]
South = BuyerRatio.iloc[:,4]

In [16]:
stats.f_oneway(East,West,North,South)

F_onewayResult(statistic=0.3068565327605033, pvalue=0.8204060154887464)

In [17]:
# assuming alpha value = 0.05 
# since p value>alpha, we accept null hypothesis, Ho
# Hence, all proportions are equal

#### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [18]:
CustomerOrderForm = pd.read_csv("C:/Users/preet/OneDrive/Desktop/ExcelR/Data Science/Assignment/Hypothesis Testing/Costomer+OrderForm.csv")

In [19]:
CustomerOrderForm.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [20]:
CustomerOrderForm = CustomerOrderForm.replace({"Error Free":"Errorfree"})

In [21]:
CustomerOrderForm.head()

  Phillippines  Indonesia      Malta      India
0    Errorfree  Errorfree  Defective  Errorfree
1    Errorfree  Errorfree  Errorfree  Defective
2    Errorfree  Defective  Defective  Errorfree
3    Errorfree  Errorfree  Errorfree  Errorfree
4    Errorfree  Errorfree  Defective  Errorfree

In [22]:
# Ho: Customer order form defective % doesn't varies
# Ha : Customer order form defective % varies

#Calculating total number of defective orders(country wise) and total values in that particular column. 

obs = [[CustomerOrderForm.Phillippines.value_counts().Errorfree, CustomerOrderForm.Indonesia.value_counts().Errorfree, CustomerOrderForm.Malta.value_counts().Errorfree, CustomerOrderForm.India.value_counts().Errorfree],
       [CustomerOrderForm.Phillippines.value_counts().Defective, CustomerOrderForm.Indonesia.value_counts().Defective, CustomerOrderForm.Malta.value_counts().Defective, CustomerOrderForm.India.value_counts().Defective]]
obs

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [23]:
#since 4 categorical variables to be compared, hence by using chi sqaure find p-value

chi2_contingency(obs)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [24]:
# p-value > 0.05, therefore we accept null hypothesis
# Hence the Customer order form defective % doesn't varies across the given countries